*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
.h11{
	font-size: 40px;
	font-family: sans-serif;
}
.h12{
	position: relative;
	font-size: 60px;
	font-family: sans-serif;
	font-weight: bolder;
}
	
.c1{
	margin-left: 10%;
	margin-top: 5%;
}
.button1{
	margin-left: 70px;
	margin-top: 20px;
	height: 60px;
	width: 270px;
	border: 3px solid black;
	border-radius: 20px;
	background-color: white;
	font-size: 20px;
	outline: none;
	transition: .5s;
}
.button1:focus{
	outline: none;
}
.button1:hover{
	background-color: black;
	color: white;
	transition: .5s;
	transform: scale(1.1);
}
.button{
	margin-left: 70px;
	margin-top: 40px;
	height: 60px;
	width: 270px;
	border: 3px solid black;
	border-radius: 20px;
	background-color: white;
	font-size: 20px;
	outline: none;
	transition: .5s;
}
.button:focus{
	outline: none;
}
.button:hover{
	background-color: black;
	color: white;
	transition: .5s;
	transform: scale(1.1);
}
.img-1{
	width: 50rem;
}
footer{
	font-size: 14px;
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
.nav-link{
	margin-right: 15px;
	color:#2F363F;
	letter-spacing: 0.5px;
	transition: 0.5s;
}
.navbar-brand{
	color: #4C4B4B;
	letter-spacing: 0.5px;
}
h2{
	color: #4C4B4B;
	letter-spacing: 0.5px;
	font-family: raleway;
}
